header {
    background-color: burlywood;
    color: rgb(53, 22, 22);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

header h1 {
    font-size: 23px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:  4px solid rgb(53, 32, 32);
    border-radius: 15px;
    
}

.logo {
    
    padding: 5px;
    border: 6px solid rgb(53, 32, 32);;
    color: rgb(53, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 70px;
    
}
.k{
    font-size: 70px;
    margin-top: -15px;
    margin-left: 10px;
}
.k2{
    font-size: 50px;
    margin-top:-115px ;
    margin-left: 30px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  
}

nav a {
    color: rgb(53, 32, 32);;
    text-decoration: none;
    font-size: 1.25em;
    transition: color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    color:burlywood; 
    border-radius: 8px;
    background-color: rgb(53, 22, 22);
    padding:3px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

.sousmenu{
    display: none;
}
.s1:hover .sousmenu{
    display: block;
}
body {
    font-family: 'Roboto', sans-serif;
    background: url('chocolat\ designe1.jpg') no-repeat center center fixed;
    background-size: cover;
   
    color: #333;
}



main {
    margin: 20px;
}

section.about {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.about-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-content img {
    width: 50%;
    height: 50%;
    margin-right: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery img {
    width: 32%;
    border-radius: 5px;
}

.values {
    list-style-type: disc;
    padding-left: 20px;
}

section.team {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    width: 32%;
    margin-bottom: 20px;
}

.team-member img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: rgba(139, 69, 19, 0.8);
    color: white;
    text-align: center;
    padding: 10px; 
    bottom: 0;
    width: 99%;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}


