body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px 10px;
    color: white;
}
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://media.architecturaldigest.in/wp-content/uploads/2017/08/43.jpg),black;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.wrapper{
    width: 490px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(88, 88, 88);
    backdrop-filter:blur(8px) ;
}
form{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 55px;
    color: white;
}
.input1{
    position: relative;
    border-bottom: 2px solid whitesmoke;
    margin: 15px 0px;
}
.input1 label{
    position: absolute;
    color: white;
    top: 50%;
    left: 0%;
    font-size: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition:;
}
.input1 input{
    width: 100%;
    height: 40px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;    
}
.input1 input:focus~label,.input1 input:valid~label{
   
   
    transform: translateY(-170%);
}
.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px 35px 0px;
    color: white;
}
#remember{
    accent-color:white;
}
.forget label{
    display: flex;
    align-items: center;
}
.forget label p {
    margin-left: 8px;
}
.wrapper a{
    color: white;
    font-size: 1rem;
}
