  body{
    background-image: url(des2.jpg) ;

  }
section{
    justify-content: space-between;
}
header {
    background-color: burlywood;
    color: rgb(53, 22, 22);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

header h1 {
    font-size: 23px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:  4px solid rgb(53, 32, 32);
    border-radius: 15px;
    
}

.logo {
    
    padding: 5px;
    border: 6px solid rgb(53, 32, 32);;
    color: rgb(53, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 70px;
    
}
.k{
    font-size: 70px;
    margin-top: -15px;
    margin-left: 10px;
}
.k2{
    font-size: 50px;
    margin-top:-115px ;
    margin-left: 30px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  
}

nav a {
    color: rgb(53, 32, 32);;
    text-decoration: none;
    font-size: 1.25em;
    transition: color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    color:burlywood; 
    border-radius: 8px;
    background-color: rgb(53, 22, 22);
    padding:3px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

.sousmenu{
    display: none;
}
.s1:hover .sousmenu{
    display: block;
}
.div1{
    margin-left: 40px;
    margin-top: 30px;
    height: 470px;
    background-color: rgba(31, 2, 2, 0.653) ;
    padding: 10px;
    justify-content:space-between;
   
    
}
.div11{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 720px;
    width: 540px;
    margin-top: -30%;
    color: white;
}
.h11{
     font-size: 60px;
     text-align: center;
}
.but2{
    text-decoration: none;
    margin-left: 200px;
    font-size: xx-large;
    width: 150px;
    color: white;
    background-color:#D2691E ;
    border-radius: 20px;
    padding: 8px;
}
.but2:hover{
    background-color: #8B4513;
    color: aliceblue;

}
.div2{
    margin-left: 40px;
    margin-top: 30px;
    height: 470px;
    background-color: rgba(31, 2, 2, 0.653) ;
    padding: 10px;
    justify-content:space-between;
}
.div12{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 720px;
    width: 540px;
    margin-top: -30%;
    color: white;
}

.img1{
    margin-left: 20px;
    margin-top: 20px;
}
.div3{
    margin-left: 40px;
    margin-top: 30px;
    height: 470px;
    background-color: rgba(31, 2, 2, 0.653) ;
    padding: 10px;
    justify-content:space-between;
}
.div13{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 720px;
    width: 540px;
    margin-top: -30%;
    color: white;
}
.img3{
    margin-top: 35px;
    margin-left: 20px;
}
.div4{
    margin-left: 40px;
    margin-top: 30px;
    height: 470px;
    background-color: rgba(31, 2, 2, 0.653) ;
    padding: 10px;
    justify-content:space-between;
}
.div14{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 720px;
    width: 540px;
    margin-top: -30%;
    color: white;
}
footer {
    background-color: rgba(139, 69, 19, 0.8);
    color: white;
    text-align: center;
    padding: 10px; 
    bottom: 0;
    width: 99%;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}