body {
    background-color: rgb(150, 134, 110);
}
header {
    background-color: burlywood;
    color: rgb(53, 22, 22);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

header h1 {
    font-size: 23px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:  4px solid rgb(53, 32, 32);
    border-radius: 15px;
    
}

.logo {
    
    padding: 5px;
    border: 6px solid rgb(53, 32, 32);;
    color: rgb(53, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 70px;
    
}
.k{
    font-size: 70px;
    margin-top: -15px;
    margin-left: 10px;
}
.k2{
    font-size: 50px;
    margin-top:-115px ;
    margin-left: 30px;
}
.div1{
    justify-content: space-between;
    padding: 30px;
    margin-left:270PX;
    width: 1000px;
    background-color: aliceblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.p1{
    margin-left: 550PX;
}
.div2{
    justify-content: space-between;
    margin-top: 30px;

    padding: 30px;
    margin-left:270PX;
    width: 1000px;
    background-color: aliceblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.a1{
    padding: 20px;
    color: black;
    text-decoration: none;
    border: 2px solid black;

}
.footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    font-family: Arial, sans-serif;
    justify-content: space-between;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .feature {
    text-align: center;
    flex: 1;
  }
  
  
  .feature img {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .pff {
    font-weight: bold;
  }
  
  .feature span {
    font-size: 12px;
    color: #777;
  }
  
  .footer-middle {
    text-align: center;
    margin: 20px 0;
    margin-left: 540px;
  }
  .logo2{
    margin-top: 50px;
    margin-left: 80px;
    width: 210px;
    padding: 30px;
    border: 3px solid #D2691E;
    
}


.pc{
    font-size: 20px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: #D2691E;
    text-align: center;
}
.dpc{
    margin-right: 10px;
    border-left: 3px solid rgb(53, 22, 22);
    border-right: 3px solid rgb(53, 22, 22);
}
.dlo{
    margin-left: 58px;
}
  
  .footer-logo {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .pf1 {
    font-size: 14px;
    margin-right: 500px;
  }
  
  .footer-middle a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-middle a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }